@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;            
}

                                        /* header start */

header{
    background-image: url(images/bg-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 50px;
}

header .menu-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-content: center;
}

header .menu-wrapper .logo-column{
    align-content: center;
}

header .menu-wrapper .menu-column{
    text-align: center;
    align-content: center;
}

 header .menu-wrapper ul{
    list-style-type: none;
}

header .menu-wrapper ul li{
    display: inline-block;
    padding: 0 20px;
}

header .menu-wrapper .login-column{
    text-align: right;
    align-content: center;
}

header .menu-wrapper a{
    color: #DCDCDC;
    text-decoration: none;
    transition: 0.5s ease;
}

header .menu-wrapper a:hover{
    color: #fff;
}

header .login-column a{
    padding: 8px 25px;
    border: 1px solid #DCDCDC;
    border-radius: 15px;
}

header .login-column a:hover{
    border: 1px solid #fff;
}

                                    /* banner-section start */

header .banner-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

header .banner-section .content-column{
    text-align: left;
    align-content: center;
    color: #fff;
}

header .banner-section .content-column .sticker{
    display: inline-block;
    background-color: #2e4c5e;
    padding: 6px 15px;
    border-radius: 50px;
}

header .banner-section .content-column .sticker h3{
    display: inline-block;
}

header .banner-section h1{
    font-size: 64px;
    text-transform: uppercase;
    margin: 15px 0;
}

header .banner-section h1 span{
    color: #E2FF54;
}

header .banner-section p{
    color: #DCDCDC;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

header .banner-section a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

header .banner-section .btn{
    background-color: #00B512;
    padding: 10px 25px;
    border: 1px solid #00B512;
    border-radius: 30px;
    transition: 0.5s ease;
}

header .banner-section .btn:hover{
    background: transparent;
}

header .banner-section .icon{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(-20px) rotate(-30deg);
}

header .banner-section .icon i{
    width: 40px;
    height: 40px;
    align-content: center;
}


header .banner-section .img-column{
    text-align: right;
    align-content: center;
}

                                     /* banner-section end */

                                      /* header end */


                                       /* pay-method start */

.pay-method{
    background-color: #04684C;
    padding: 20px 0;
}

.pay-method img{
    margin-right: 85px;
}

.pay-method .container img:last-child{
    margin-right: 0;
}

                                    /* pay-method end */



                                     /* about-section start */


.about-section .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 60px 0;
}

.about-section .img-column{
    text-align: left;
    align-content: end;
}

.about-section .content-column{
    align-content: end;
}

.about-section .content-column .sticker{
    display: inline-block;
    background-color: #EAECF0;
    padding: 6px 15px;
    border-radius: 50px;
}

.about-section .content-column .sticker h3{
    display: inline-block;
    text-transform: uppercase;
}

.about-section .content-column h2{
    font-size: 48px;
    text-transform: uppercase;
    margin: 15px 0;
}

.about-section .content-column .content-details{
    border-left: 5px solid;
    border-image: linear-gradient(213.32deg, #EF3E3D 17.87%, #FFC828 88.48%);
    border-image-slice: 1;
    padding-left: 10px;
}

.about-section .content-column .content-details .content-row{
    padding: 15px 80px 15px 10px;
    margin-bottom: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.about-section .content-column .content-details .content-row:first-child{
    background-color: #F1FFD2;
    border: none;
}

.about-section .content-column .content-details h3{
    font-weight: 400;
    margin-bottom: 10px;
}

.about-section .content-column .content-details p{
    font-weight: 300;
}

                                        /* about-section end */


                                        /* app-section start */

.app-section .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    padding: 60px 0;
}

.app-section .content-wrapper .content-column{
    text-align: left;
    align-content: center;
}

.app-section .content-wrapper .img-column{
    text-align: right;
    align-content: center;
}

.app-section .content-column .sticker{
    display: inline-block;
    background-color: #EAECF0;
    padding: 6px 15px;
    border-radius: 50px;
}

.app-section .content-column .sticker h3{
    display: inline-block;
    text-transform: uppercase;
}

.app-section .content-column h2{
    font-size: 48px;
    text-transform: uppercase;
    margin: 15px 0;
}

.app-section .content-column ul li{
    font-weight: 300;
    margin-bottom: 15px;
}

.app-section .content-column a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-top: 25px;
}

.app-section .content-column .btn{
    padding: 10px 25px;    
    border: 1px solid #00B512;
    border-radius: 30px;
    transition: 0.5s ease;
}

.app-section .content-column .btn:hover{
    color: #fff;
    background-color: #00B512;
}

.app-section .content-column .icon{
    color: #fff;
    background-color: #00B512;
    border-radius: 50%;
    transform: translateX(-20px) rotate(-30deg);
}

.app-section .content-column .icon i{
    width: 40px;
    height: 40px;
    align-content: center;
}

                                        /* app-section end */


                                        /* security-section start */

.security-section{
    background-image: url(images/bg-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.security-section .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 60px 0;
}

.security-section .img-column{
    text-align: left;
    align-content: center;
}

.security-section .content-column{
    align-content: center;
}

.security-section .content-column .sticker{
    display: inline-block;
    background-color: #2e4c5e;;
    padding: 6px 15px;
    border-radius: 50px;
}

.security-section .content-column .sticker h3{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
}

.security-section .content-column h2{
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    margin: 15px 0;
}

.security-section .content-column p{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 45px;
}

.security-section .content-column a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.security-section .content-column .btn{
    background-color: #00B512;
    padding: 10px 25px;
    border: 1px solid #00B512;
    border-radius: 30px;
    transition: 0.5s ease;
}

.security-section .content-column .btn:hover{
    background-color: transparent;
}

.security-section .content-column .icon{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(-20px) rotate(-30deg);
}

.security-section .content-column .icon i{
    width: 40px;
    height: 40px;
    align-content: center;
}


                                    /* security-section end */



                                    /* analysis-section start */


.analysis-section h2{
    color: #000;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.analysis-section .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.analysis-section .column-left{
    background-color: #F6F9F8;
    padding: 40px 40px 0 40px;
    color: #000;
    border-radius: 15px;
}

.analysis-section .column-right{
    background-color: #000;
    padding: 40px 0 0 40px;
    color: #fff;
    border-radius: 15px;
}

.analysis-section h3{
    font-weight: 400;
    margin: 10px 0;
    max-width: 300px;
}

.analysis-section p{
    font-weight: 300;
    max-width: 350;
    margin-bottom: 50px;
}

                                    /* analysis-section end */



                                    /* facilities-section start */

.facilities-section .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}

.facilities-section .content-wrapper .column-left{
    background-color: #E2FF54;
    padding: 40px 20px;
    color: #000;
}

.facilities-section .content-wrapper .column-center{
    background-image: url(images/bg-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 20px;
    color: #000;
}

.facilities-section .content-wrapper .column-right{
    background-color: #2D907A;
    padding: 40px 20px;
    color: #fff;
    text-align: center;
    align-content: center;
}

.facilities-section h3{
    font-weight: 400;
    max-width: 150px;
}

.facilities-section p{
    font-weight: 300;
    max-width: 300px;
    margin-top: 10px;
}

.facilities-section .content-wrapper .column-center h3{
    margin-top: 10px;
}

.facilities-section .content-wrapper .column-right h3{
    margin: 0 auto;
}

.facilities-section .show-more{
    max-width: 190px;
    margin: 0 auto;
}

.facilities-section a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-top: 50px;
}

.facilities-section .content-wrapper .column-right a{
    color: #fff;
    margin-top: 0;
    transition: 0.5s ease;
}

.facilities-section .content-wrapper .column-right a:hover{
    color: #e9e1e1d0;
}

.facilities-section .btn{
    padding: 10px 30px;    
    border: 1px solid #00B512;
    border-radius: 30px;
    transition: 0.5s ease;
}

.facilities-section .btn:hover{
    color: #fff;
    background-color: #00B512;
}

.facilities-section .icon{
    color: #fff;
    background-color: #00B512;
    border-radius: 50%;
    transform: translateX(-20px) rotate(-30deg);
}

.facilities-section .icon i{
    width: 40px;
    height: 40px;
    align-content: center;
}

                                        /* facilities-section end */



                                        /* testimonial-section start */

.testimonial-section{
    margin: 80px 0;
    padding: 80px 0;
    background-color: #F6F9F8;
}

.testimonial-section .sticker{
    max-width: 175px;
    background-color: #fff;;
    padding: 6px 0;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
}

.testimonial-section .sticker h3{
    display: inline-block;
    text-transform: uppercase;
    color: #000;
}

.testimonial-section h2{
    color: #000;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
}

.testimonial-section .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.testimonial-section .content-wrapper .content-column{
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
}

.testimonial-section .content-wrapper .content-column:nth-child(2){
    color: #fff;
    background-color: #004852;
}

.testimonial-section p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 15px;
}

.testimonial-section h4{
    font-weight: 400;
}

.testimonial-section h5{
    font-weight: 300;
}

.testimonial-section .intro-section{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.testimonial-section .intro-section .img-column{
    align-content: end;
}

.testimonial-section .intro-section .intro-column{
    align-content: start;
}

.testimonial-section .show-more{
    max-width: 190px;
    margin: 0 auto;
}

.testimonial-section a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-top: 70px;
}

.testimonial-section .btn{
    padding: 10px 30px;    
    border: 1px solid #00B512;
    border-radius: 30px;
    transition: 0.5s ease;
}

.testimonial-section .btn:hover{
    color: #fff;
    background-color: #00B512;
}

.testimonial-section .icon{
    color: #fff;
    background-color: #00B512;
    border-radius: 50%;
    transform: translateX(-20px) rotate(-30deg);
}

.testimonial-section .icon i{
    width: 40px;
    height: 40px;
    align-content: center;
}

                                    /* testimonial-section end */



                                    /* start-section start */

.start-section .content-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 80px 0;
    padding: 0 60px;
    background-image: url(images/bg-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.start-section .img-column{
    text-align: right;
    align-content: end;
}

.start-section h2{
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 25px;
}

.start-section p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    max-width: 580px;
    margin-bottom: 30px;
}

.start-section .content-column a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.start-section .content-column .btn{
    background-color: #00B512;
    padding: 10px 25px;
    border: 1px solid #00B512;
    border-radius: 30px;
    transition: 0.5s ease;
}

.start-section .content-column .btn:hover{
    background-color: transparent;
}

.start-section .content-column .icon{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(-20px) rotate(-30deg);
}

.start-section .content-column .icon i{
    width: 40px;
    height: 40px;
    align-content: center;
}

.start-section .img-column img{
    position: relative;
    top: 6px;
}

                                    /* start-section end */



                                    /* footer start */

footer{
    margin: 25px 0;
    text-align: center;
}

footer a{
    display: inline-block;
    color: #646161;
    font-weight: 300;
    text-decoration: none;
}

footer a:hover{
    color: #000;
}

footer .app-store{
    margin-top: 20px;
    margin-bottom: 30px;
}

footer .app-store>:first-child{
    margin-right: 20px;
}

footer .useful-link a{
    margin: 0 17px;
}

footer .social-media a{
    margin: 40px 5px 10px 5px;
}

footer .social-media img{
    transition: transform 0.2s ease;
}

footer .social-media img:hover{
    transform: scale(1.1);
}

footer .mail-section h4, footer .mail-section a{
    display: inline-block;
}

footer .mail-section a{
    text-decoration: underline;
}

footer h4, footer h5{
    font-weight: 400;
    display: inline-block;
}

footer .policy-section a{
    margin: 20px 0;
    padding: 0 15px;
    line-height: 16px;
    border-right: 1px solid #646161;
}

footer .policy-section a:last-child{
    border-right: 0;
}

footer .socket-section a{
    color: #000;
    font-weight: 400;
    text-decoration: underline;
}

footer .socket-section a:hover{
    color: #2e2c2c;
}

                                        /* footer end */


